@media (max-width:1200px) {
    .services__item,
    .works__item {
        flex-basis:calc(50% - 30px);
        max-width: 100%;
        text-align: center;
        
    }
    .services__text {
        margin: 0 auto;
    }
    .blog__item {
        margin: 0;
    }
}
@media (max-width:1150px) {
    .blog__item:nth-child(even) {
        flex-direction: row;
    }
    .blog__item {
        margin-bottom: 30px;
    }
    .blog__item-desc {
        padding-right: 150px;
    }
}
@media (max-width:950px) {
    .blog__item-desc {
        max-width: 450px;
    }
    .blog__item-info {
        display: block;
    }
    .pricing__items {
        display: block;
    }
    .pricing__text {
        text-align: center;
    }
    .pricing__item + .pricing__item {
        margin-left: 0;
        margin-bottom:30px;
    }
}
@media (max-width:900px) {
    .header__menu-list {
        display: none;
    }
    .works__item {
        flex-basis: calc(50% - 20px);
        margin-left: 20px;
    }
}
@media (max-width:800px) {
    
    .intro__title {
        font-size: 40px;
    }
    .intro__text {
        font-size: 16px;
    }
    .testimonials__items {
        justify-content: center;
        flex-wrap: wrap;
    }
    .works__item,
    .services__item {
        flex-basis:100%;
    }
    .pricing__items {
        padding-top: 30px;
    }
    .blog__item {
        img {
            width: 745px;
        }
        display: block;
        text-align: center;
    }
    .blog__item:nth-child(even) .blog__item-desc {
        padding-right: 0;
    }
    .blog__item-desc {
        max-width: 740px;
        padding-right: 0;
    }
    .blog__item-info {
        display: flex;
        justify-content: center;
    }
    .blog__item-text {
        max-width: 740px;
    }
    .footer__items {
        display: block;
    }
    .footer__item {
        margin:0 auto 30px;
    }
    .footer__item + .footer__item {
        margin:0 auto 30px;
    }
    .footer {
        .section__text {
            padding-bottom: 60px;
        }
    }
    .works__buttons {
        display: block;
    }
    .works-button {
        width: 100%;
        & + & {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    .footer__input {
        display: block;
        input {
            width: 100%;
        }
        input + input {
            margin-left: 0;
            margin-top: 30px;
        }
    }
}
@media (max-width:550px) {
    .section__title {
        padding-top: 30px;
    }
    .section__text {
        padding-bottom: 30px;
    }
    .intro__title {
        line-height: 65px;
    }
    .intro__arrow {
        display: none;
    }
    .pricing__items {
        padding-top: 30px;
    }
    .blog__item {
        img {
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .blog__item-desc {
        padding-right: 0;
    }
    .blog__item:nth-child(even) .blog__item-desc {
        padding-right: 0;
    }

}
@media (max-width:400px) {
    .intro__inner {
        padding-bottom: 30px;
    }
    .intro__text {
        line-height: 32px;
    }
    .intro__button {
        & + & {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    .blog__item {
        img {
            max-width: 300px;
        }
    }
    .footer {
        button.send {
            width: 100%;
        }
    }
    .works__item {
        img {
            width: 280px;
        }
    }
}